@use "../../SCSS/colors.scss" as color;

.getStarted {
  background: color.$bs-dark;
  color: color.$bs-white;
  padding: 6em 2em;
  margin-top: 5em;

  .getStartedContainer {
    max-width: 1200px;
    margin: 0 auto;
  }
}
