@use "../../SCSS/colors.scss" as color;
@use "../../SCSS/base.scss" as base;

.card {
  background: color.$bs-white;
  border-radius: 8px;
  padding: 1.2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 250px;

  @extend .container;

  &.appear {
    @extend .appear;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .cardContent {
    h2 {
      font-size: 1rem;
      font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
      color: color.$bs-dark;
      margin-top: 1em;
      text-transform: capitalize;
    }

    p {
      margin-top: 1em;
      font-weight: 500;
      color: color.$bs-medium-gray;
    }
  }

  a {
    margin-top: 2em;
    display: inline-block;
    color: color.$bs-dark-blue;
    font-weight: 600;

    &:hover {
      color: color.$bs-lemon;
    }
  }
}
