@use "../../SCSS/colors.scss" as color;

.card {
  background: color.$bs-white;
  border-radius: 8px;
  padding: 1.2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 250px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .cardContent {
    h2 {
      font-size: clamp(1rem, 2vw + 1rem, 1.5rem);
      color: color.$bs-dark;
      margin-block: 1em;
    }

    p {
      font-weight: 500;
      color: color.$bs-medium-gray;
    }
  }
}
