@use "../../SCSS/colors" as color;

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: color.$bs-white;
  color: color.$bs-dark;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);

  .headerContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    .logoContainer {
      height: 50px;
      width: 90px;
    }
    .menu {
      font-size: 1.2rem;
      background: color.$bs-dark-blue;
      color: color.$bs-white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.3em;
      border-radius: 3px;

      &:hover {
        background: color.$bs-blue;
      }
    }
  }
}

@media (min-width: 760px) {
  .header {
    .headerContainer {
      .menu {
        display: none;
      }
    }
  }
}
