@use "../../SCSS/colors.scss" as color;
@use "../../SCSS/base.scss" as base;

.navLink {
  font-size: 0.6rem;
  padding: 0.5em 1em;
  font-weight: 600;
  color: color.$bs-dark-gray;
  border-radius: 5px;
  transition: background base.$btn-transition;

  &:hover:not(:last-of-type) {
    color: color.$bs-dark-blue;
    padding-bottom: 1em;
    border-bottom: 2px solid color.$bs-dark-blue;
  }

  &.joinUs {
    background: color.$gradient1;
    color: color.$bs-white;

    &:hover {
      background: color.$gradient2;
    }
  }
}
